.main{
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    height: 1000px;
}
.heading{
    font-family: 'Oswald', 'Cardo';
    font-size: 3rem;
    text-align: center;
}
.btn{
    font-family: 'Oswald', 'Cardo';
   font-size: 2rem;
   background-color: black;
   color: white;
   border-radius: 0.3rem;
   margin-left: 40%;
   margin-right: 40%;
   width:20%;
}
.text{
    font-family: 'Oswald', 'Cardo';
    font-size: 2rem;
    text-align: center;
}

